* {
    padding: 0;
    margin: 0;
    font-family: sans;
    font-size: 12pt;
    text-decoration: none;
    font-weight: normal;
    color: black;
}

$primary: #aea;
$sidebar-width: 20%;
$header-height: 5em;
$spacing: 5%;
$vspacing: 2%;
$small-spacing: $spacing/2;

p {
   -moz-hyphens: auto;
   -o-hyphens: auto;
   -webkit-hyphens: auto;
   -ms-hyphens: auto;
   -hyphens: auto; 
   text-align: justify;
}

#sidebar {
    float: left;
}

#metabar {
    float: right;
}

#sidebar, #metabar {
    padding: 0 $vspacing;
    width: $sidebar-width;
    img {
        width: 50%;
        display: block;
        margin: auto;
        margin-top: 3em;
    }
    h2, ul {
        a {
            display: block;
            padding: $small-spacing;
        }
    }
    h2 {
        margin-top: $spacing;
        background: darken($primary, 20%);
        :hover {
            background: darken(darken($primary, 20%), 20%);
        }
    }
    ul {
        background: $primary;
        :hover {
            background: darken($primary, 10%);
        }
    }
    li {
        list-style-type: none;
        a {
            font-size: 0.9em;
        }
    }
}

#main {
    margin-left: $sidebar-width + 2*$vspacing;
    margin-right: $sidebar-width + 2*$vspacing;
    max-width: 40em;
    border: 1px solid white;
    h1 {
        font-size: 2em;
        margin-bottom: 1em;
        margin-top: 2.7em;
    }
    p, ol, ul {
        margin-bottom: 1em;
    }
    li {
        margin-left: 2em;
    }
    a {
        color: #00c;
    }
    img {
        width: 100%;
    }
}
