$primary: #aea;

* {
    padding: 0;
    margin: 0;
    font-family: sans;
    text-decoration: none;
    font-weight: normal;
}

body {
    padding: 40px;
    background: beige;
}

p {
   -moz-hyphens: auto;
   -o-hyphens: auto;
   -webkit-hyphens: auto;
   -ms-hyphens: auto;
   -hyphens: auto; 
   text-align: justify;
}

#sidebar {
    float: left;
    width: 200px;
    > a {
        display: block;
        height: 80px;
    }
    img {
        width: 50%;
        margin: auto;
        vertical-align: middle;
        display: block;
    }
    h2, ul {
        a {
            display: block;
            padding: 5px;
        }
    }
    h2 {
        font-size: 1em;
        margin-top: 10px;
        background: darken($primary, 20%);
        :hover {
            background: darken(darken($primary, 20%), 20%);
        }
    }
    ul {
        background: $primary;
        :hover {
            background: darken($primary, 10%);
        }
    }
    li {
        list-style-type: none;
        a {
            font-size: 0.9em;
        }
    }
}

#main {
    font-size: 1em;
    color: #222;
    line-height: 150%;
    max-width: 40em;
    padding: 0 40px;
    margin-left: 200px;
    padding-top: 35px;
    h1 {
        font-size: 1.5em;
        margin-top: 2em;
    }
    .meta {
        font-size: 0.8em;
        color: grey;
    }
    p, ol, ul {
        margin-bottom: 1em;
    }
    li {
        margin-left: 2em;
    }
    a {
        color: #00c;
    }
    img {
        width: 100%;
    }
}
