#!/usr/bin/env ruby

preprocess do
    @items.each do |item|
        if item[:published]
            item[:published] = DateTime.parse(item[:published].to_s)
        end
        if item[:updated]
            item[:updated] = DateTime.parse(item[:updated].to_s)
        end
        if item[:tags]
            item[:tags] = item[:tags].split(",").map{|t| t.strip}
        end
    end

    tags.each do |tag|
        content = '<%= box(with_tag("'+tag+'")) %>'
        title = "Content with tag '#{tag}'"
        identifier = "/tag/#{tag}/index.md"
        @items.create(content, {:title => title, :noindex => true}, identifier)
    end

    categories.each do |name, items|
        content = "<%= box(categories[\"#{name}\"]) %>"
        title = "#{name}"
        identifier = "/#{name.downcase}/index.md"
        @items.create(content, {:title => title, :headless => true, :noindex => true}, identifier)
    end

    # rebuild these variables for each compilation
    $categories = nil
    $things = nil
end

compile "/**/*.scss" do
    filter :sass, syntax: :scss
    write item.identifier.without_ext + ".css"
end

compile "/**/*.xml" do
    filter :erb
    write item.identifier.without_ext + ".html"
end

compile "/**/thumbnail.{jpg,png}" do
    filter :thumbnailize, :width => 200
end

compile "/**/*.md" do
    filter :erb
    filter :absolutize_paths
    filter :kramdown
    layout "/default.*"
    filter :tidy
    write item.identifier.without_ext + ".html"
end

compile "/**/*.pdf", :rep => :titlepage do
    filter :titlepageize
    write item.identifier.without_ext + "-titlepage.svg"
end

passthrough "/**/*"

layout "/**/*", :erb
