.player {
    margin: 2em 0;
}
.timebar {
    position: relative;
}
.timebar img {
    max-width: 100%;
    max-height: 10%;
    display: block;
    cursor: pointer;
}
iframe {
    display: block;
}
.player iframe {
    margin-bottom: 0 !important;
}
.timebar div {
    width: 0px;
    height: 0px;
    border-bottom: 11px solid black;
    border-left: 11px solid transparent;
    border-right: 11px solid transparent;
    /*position: absolute;
    top: 0;
    left: 0;*/
}
