// https://www.joshwcomeau.com/css/custom-css-reset/

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    line-height: 1.5;
}

body {
    -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

html,
body {
    min-height: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
    hyphens: auto;
}

@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");

@font-face {
    font-family: "Inconsolata";
    src: url("/assets/fonts/Inconsolata.otf");
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
    letter-spacing: -0.03em;
}

html {
    scroll-padding-top: 9rem;
}

body {
    font-family: "DM Sans", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav {
    padding: 10px 0 15px 0;
    align-self: stretch;
    display: flex;
    justify-content: center;
    background: white;
    position: sticky;
    top: 0;
    ul {
        flex-grow: 1;
        list-style: none;
        padding: 0 20px;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 2rem;
        a {
            text-decoration: none;
            color: black;
        }
        .home {
            font-size: 150%;
            margin-right: 1rem;
            font-weight: 900;
            flex-shrink: 0;
            a {
                color: green;
            }
            img {
                height: 4rem;
                width: 4rem;
                border-radius: 0.3rem;
                animation: all 0.2s;
                filter: brightness(1);
            }
            img:hover {
                filter: brightness(0.95);
            }
        }
        .end {
            margin-left: auto;
        }
    }
}

.content,
nav ul,
#intro {
    max-width: 50rem;
    padding: 20px;
}

.content {
    border-radius: 10px;
    font-size: 120%;
    h1 {
        margin-top: 3rem;
        text-align: center;
    }
    .subtitle {
        font-size: 100%;
        text-align: center;
        font-style: italic;
        margin-top: -0.5rem;
        color: darkgrey;
    }

    .meta {
        color: grey;
        margin-bottom: 3rem;
        margin-top: 1rem;
        text-align: center;
        font-size: 80%;
    }

    h2,
    h3,
    h4,
    h5,
    h6 {
        margin-top: 2em;
        margin-bottom: 1em;
    }
    p {
        margin-bottom: 1em;
    }
    a {
        text-decoration: none;
        color: #57a3e8;
        animation: all 0.2s;
    }
    a:hover {
        color: #2e7bbf;
    }
    hr {
        border: none;
        text-align: center;
        margin-top: 3rem;
    }
    hr:after {
        content: "...";
        letter-spacing: 0.6rem;
    }
    iframe {
        width: 80%;
        border: none;
        margin-bottom: 1rem;
    }
    code {
        font-family: "Inconsolata", monospace;
    }
    p code {
        font-weight: bold;
    }
    pre,
    ul,
    ol {
        margin-bottom: 1rem;
    }
    pre {
        background: #111;
        color: white;
        border-radius: 10px;
        padding: 1rem;
        white-space: pre-wrap;
    }
}

#home {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#intro {
    gap: 2rem;
    margin-top: 4rem;
    font-size: 150%;
    img {
        width: 15rem;
        height: 15rem;
        float: left;
        margin-right: 2rem;
    }
}

.boxes {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px;
    .box {
        height: 15rem;
        width: 15rem;
        display: flex;
        flex-direction: column;
        text-decoration: none;
        color: black;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        transition: transform 0.2s;
        .image {
            background-size: cover;
            background-position: center;
            margin-bottom: auto;
            flex-grow: 1;
        }
        .meta {
            padding: 0.5rem;
            color: #333;
            h2 {
                font-size: 1.2rem;
                img.icon {
                    height: 1rem;
                    display: inline-block;
                    margin-left: 0.5rem;
                }
            }
            h3 {
                font-size: 1rem;
                font-weight: 400;
                font-style: italic;
                color: grey;
            }
            .details {
                height: 0;
                transition: all 0.2s;
                overflow: hidden;
                opacity: 0;
            }
        }
    }
    .box:hover {
        transform: scale(1.05);
        .details {
            height: 1.3rem;
            opacity: 1;
        }
    }
}
