@import url(
    https://fonts.googleapis.com/css?family=Montserrat:300,
    700,
    300italic
);

@font-face {
    font-family: m5x7;
    src: url(m5x7.ttf);
}

body {
    font-family: "Montserrat";
}

h1,
h2,
h3 {
    font-family: "Montserrat";
}

h1 {
    font-weight: 800;
}

@keyframes blink {
    0% {
        filter: hue-rotate(0);
    }
    100% {
        filter: hue-rotate(360deg);
    }
}

.title h1 {
    font-size: 80px;
    letter-spacing: -2px;
}

.title h3 {
    font-size: 40px;
    margin-block-end: 20px;
    margin-block-start: 20px;
}

.pixely {
    font-family: "m5x7";
    font-size: 155%;
    font-weight: 800;
    letter-spacing: 1px;

    color: green;
    text-shadow: 0px 0px 40px red;
    animation: blink 5s infinite alternate ease-in-out;
}

h2,
h3 {
    font-weight: 500;
}

.remark-slide-content p,
.remark-slide-content ul {
    font-size: 28px;
}

.remark-slide-content {
    color: white;
    background-color: black;
}

a {
    color: #639bff;
}

.left {
    width: 50%;
    float: left;
}

.right {
    width: 50%;
    float: right;
}

.remark-slide img {
    max-height: 500px;
    max-width: 1000px;
}

.remark-slide video {
    max-height: 600px;
}

.right img {
    max-width: 100%;
    max-height: 100%;
}

.remark-slide .section .remark-slide-number,
.remark-slide .title .remark-slide-number {
    display: none;
}

.remark-code,
.remark-inline-code {
    font-family: "Ubuntu Mono";
}

.remark-code-line-highlighted {
    background: lightblue;
}

.title-slide .remark-slide-number {
    display: none;
}

.section {
    background-color: #ac3232;
    color: white;
    text-shadow: 0 0 20px #333;
}

.section h1 {
    font-size: 80px !important;
}
