<div class="article">
    <div class="article-header">
        <% unless @item[:headless] %>
            <h1><%= link_to @item %></h1>
            <% if @item[:published] %>
                <div class="meta"><%= @item[:published].strftime("%Y-%m-%d") %> / <a href="/about/">Sebastian Morr</a>
                    <% if @item[:tags] %> /
                        <%= tags_for(@item) %>
                    <% end %>
                </div>
            <% end %>
        <% end %>
    </div>

    <%= yield %>
</div>
