<div class="box">
    <a href="<%= link_for(@item) %>">
        <img
        src="<%= thumbnail_for(@item) %>"
        alt=""
        <% if @item[:imgtitle] %>
            title="<%= @item[:imgtitle] %>"
        <% end %>
        />
        <div class="info">
            <h2><%= @item[:title] %></h2>
            <div class="meta">
                <% if @item[:published] %>
                    <%= @item[:published].year %>
                <% end %>
                <% if @item[:tags] %> /
                    <%= tags_for(@item, false) %>
                <% end %>
            </div>
        </div>
    </a>
</div>
