<div class="box">
    <a href="<%= if @item[:url] then @item[:url] else @item.path end %>">
        <div class="img">
            <img src="<%= thumbnail_for(@item) %>" alt="">
        </div>
        <div class="info">
            <h2><%= @item[:title] %></h2>
            <!--
            <% if @item[:subtitle] %>
                <h3><%= @item[:subtitle]%>.</h3>
            <% end %>
            -->
            <div class="meta">
                <% if @item[:published] %>
                    <%= @item[:published].year %>
                <% end %>
                <% if @item[:tags] %> /
                    <%= tags_for(@item, false) %>
                <% end %>
            </div>
        </div>
    </a>
</div>
